python3
kivy==2.0.0rc4
kivymd==0.104.1
kivmob
hostpython3
requests 
openssl
urllib3
chardet
idna
jwt 
cryptography 
pyparsing
firebase-admin
PIL 
google-auth
cachetools
pyasn1
pyasn1_modules
rsa 
google-api-python-client
google-cloud-storage
google-cloud-firestore 
google-api-core
protobuf
cachecontrol
gcloud
google-cloud
httplib2
plyer==1.4.3
pyjnius
phonenumbers 
jnius
requests-toolbelt
oauth2client
python_jwt
jwcrypto
pytz
beem-africa
